* {
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
}

.font-bitter {
  font-family: "Bitter", serif;
  font-optical-sizing: auto;
}

button {
  cursor: pointer !important;
}

.Toastify__toast-container,
.Toastify__toast {
  font-family: "Source Sans 3", sans-serif !important;
  font-size: 14px !important;
}
